button, input[type=submit], input[type=button] 
	cursor: pointer


textarea 
	max-width: 100% 

input, textarea, select, button 
	font-family: $font-default, sans-serif 
	outline: none 
	
input[type=submit], input[type=button], button, input[type=reset] 
	cursor: pointer 
	-webkit-appearance:none 
	border: none 

input[type=text], input[type=date], input[type=number], input[type=email], textarea 
	-webkit-appearance: none 

input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, button[type=submit]::-moz-focus-inner
	padding: 0
	border: 0

::-webkit-input-placeholder 
	color:#969696
	opacity: 1

::-moz-placeholder 
	color:#969696
	opacity: 1



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
	/* display: none <- Crashes Chrome on hover */
	-webkit-appearance: none
	margin: 0


*[autofocus]::-moz-placeholder:focus  
	color: graytext !important 
*[autofocus]:-moz-placeholder:focus  
	color: graytext !important
*[autofocus]::-webkit-input-placeholder  
	color: graytext !important



.btn 
	height: 45px
	display: inline-flex
	align-items: center
	justify-content: center
	padding: 2px 25px 1px
	text-decoration: none
	text-align: center
	box-sizing: border-box
	transition: all 0.2s ease
	font-size: 14px
	font-weight: 500
	color: #4B3F0F
	border-radius: 50px
	cursor: pointer
	


	&.disabled, .btn.disabled:hover, .btn.disabled:focus 
		background: #ccc
		cursor: default
	

	&:hover 
		text-decoration: none
	

	&:focus 
		text-decoration: none
	
	
	&.size-big
		height: 60px
		
	&.size-l
		height: 50px
		
	&.size-xl
		height: 55px
		padding-left: 30px
		padding-right: 30px
		
	&.btn--yellow
		font-size: 14px
		font-weight: 500
		color: #4B3F0F
		background: linear-gradient(0deg, #FAD652 0, #FAD652 100%)
		
		&:hover
			background: linear-gradient(90.79deg, #FAD652 3.75%, #FBB707 104.48%)
			
		&:active
			background: linear-gradient(90.79deg, #FAD652 3.75%, #FBB707 104.48%)
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12)
		
	&.btn--yellow2
		font-size: 12px
		font-weight: 500
		color: #4B3F0F
		background: #FFF5D1
		
		&:hover
			background: linear-gradient(90.79deg, #FAD652 3.75%, #FBB707 104.48%)
			
		&:active
			background: linear-gradient(90.79deg, #FAD652 3.75%, #FBB707 104.48%)
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12)
			
	
		
	&.btn--green
		background: #D7F1C3
		color: #0F7A20
		font-size: 12px
		font-weight: bold
		text-transform: uppercase
		
		&:hover
			background: #8BBF43
			color: #fff
			
		&:active
			background: #8BBF43
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12)
			color: #fff
			
		&.btn--download
			&:hover
				.i
					filter: grayscale(100%) brightness(2)
		
		
	&.btn--green2
		background: linear-gradient(270deg, #97C046 0%, #80AD53 100%)
		color: #fff
		font-size: 13px
		font-weight: bold
		text-transform: uppercase
		
		&:hover
			background: linear-gradient(270deg, #82AF53 0%, #3EAD4F 100%)
			
		&:active
			background: linear-gradient(270deg, #82AF53 0%, #3EAD4F 100%)
			box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.12)
		
		&.size-big
		
			&.btn--icon
				padding-left: 29px
				padding-right: 28px
				
				.icon + *
					margin-left: 24px
				
				* + *
					margin-left: 24px
					
		.icon-download
			width: 38px
			height: 38px
			display: inline-flex
			align-items: center
			justify-content: center
			background: #FAD652
			border-radius: 50%
					
	
	&.btn--white
		height: 48px
		padding: 0 31px
		background: #fff
		border: 1px solid #EDEDED
		font-size: 15px
		font-weight: 300
		color: #608F31
		text-decoration: underline
		
		&:hover
			text-decoration: none
			
		&:active
			box-shadow: inset 0 4px 4px rgba(0,0,0,0.05)
			
			
		&.btn--icon
			padding-left: 17px
			font-size: 14px
			
			.icon
				margin-right: 13px
				
				
				
	&.btn--download
		padding-left: 16px
		padding-right: 16px
	
		.i + .t
			margin-left: 19px
		
		.t + .i
			margin-left: 19px
		
		&.size-big
			padding-left: 26px
			padding-right: 12px
			
			.i + .t
				margin-left: 19px
			
			.t + .i
				margin-left: 19px
			
			.icon-download
				margin-left: 21px
			
	
		
	




.inp 
	height: 50px
	display: inline-block
	vertical-align: middle
	padding: 3px 20px 2px
	box-sizing: border-box
	transition: all 0.2s ease
	font-size: 13px
	color: #202020
	border: 1px solid #E7E7E7
	border-radius: 2px
	
	&:focus
		border-color: #cecece

	&.size--s 
		height: 44px
		padding: 0 15px
		font-size: 17px
		position: relative
	
	&.inp--rounded
		border-radius: 25px
		padding-left: 25px
		padding-right: 25px

	&.error 
		border-color: $error !important
		color: #E32855
	
	
	&.inp--white 
		border-color: #fff
		
textarea
	min-width: 100%	
		
textarea.inp
	padding-top: 14px
	padding-bottom: 14px
	
	
.form
	.field
		position: relative
		
		.inp
			width: 100%
	
		label.error
			position: absolute
			top: calc(100% - 5px)
			left: 50%
			transform: translateX(-50%)
			font-size: 11px
			color: #fff
			padding: 2px 12px
			background: $error
			z-index: 1
			white-space: nowrap
			border-radius: 3px
			
		&__note
			position: absolute
			top: -11px
			left: 11px
			height: 15px
			padding: 0 6px
			font-size: 13px
			color: #7A7A7A
			background: #fff
	