
@mixin mixin-icon-calendar
	width: 30px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -74px -58px
	background-size: 236px 192px

.icon-calendar
	@include mixin-icon-calendar
	

@mixin mixin-icon-calendar2
	width: 49px
	height: 53px
	background-image: url(../img/sprite-2x.png)
	background-position: 0px 0px
	background-size: 236px 192px

.icon-calendar2
	@include mixin-icon-calendar2
	

@mixin mixin-icon-canistre
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: 0px -58px
	background-size: 236px 192px

.icon-canistre
	@include mixin-icon-canistre
	

@mixin mixin-icon-close
	width: 24px
	height: 24px
	background-image: url(../img/sprite-2x.png)
	background-position: -183px -127px
	background-size: 236px 192px

.icon-close
	@include mixin-icon-close
	

@mixin mixin-icon-close2
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -37px -58px
	background-size: 236px 192px

.icon-close2
	@include mixin-icon-close2
	

@mixin mixin-icon-cloud
	width: 27px
	height: 18px
	background-image: url(../img/sprite-2x.png)
	background-position: -28px -169px
	background-size: 236px 192px

.icon-cloud
	@include mixin-icon-cloud
	

@mixin mixin-icon-dot
	width: 18px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -183px -90px
	background-size: 236px 192px

.icon-dot
	@include mixin-icon-dot
	

@mixin mixin-icon-gift
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -109px 0px
	background-size: 236px 192px

.icon-gift
	@include mixin-icon-gift
	

@mixin mixin-icon-globe
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -109px -37px
	background-size: 236px 192px

.icon-globe
	@include mixin-icon-globe
	

@mixin mixin-icon-home
	width: 26px
	height: 24px
	background-image: url(../img/sprite-2x.png)
	background-position: -183px -32px
	background-size: 236px 192px

.icon-home
	@include mixin-icon-home
	

@mixin mixin-icon-house
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: 0px -95px
	background-size: 236px 192px

.icon-house
	@include mixin-icon-house
	

@mixin mixin-icon-house2
	width: 30px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -111px -95px
	background-size: 236px 192px

.icon-house2
	@include mixin-icon-house2
	

@mixin mixin-icon-left
	width: 27px
	height: 27px
	background-image: url(../img/sprite-2x.png)
	background-position: -140px -132px
	background-size: 236px 192px

.icon-left
	@include mixin-icon-left
	

@mixin mixin-icon-left2
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -37px -95px
	background-size: 236px 192px

.icon-left2
	@include mixin-icon-left2
	

@mixin mixin-icon-list
	width: 50px
	height: 50px
	background-image: url(../img/sprite-2x.png)
	background-position: -54px 0px
	background-size: 236px 192px

.icon-list
	@include mixin-icon-list
	

@mixin mixin-icon-list2
	width: 21px
	height: 23px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px 0px
	background-size: 236px 192px

.icon-list2
	@include mixin-icon-list2
	

@mixin mixin-icon-mail
	width: 24px
	height: 18px
	background-image: url(../img/sprite-2x.png)
	background-position: -60px -169px
	background-size: 236px 192px

.icon-mail
	@include mixin-icon-mail
	

@mixin mixin-icon-minus
	width: 20px
	height: 20px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -55px
	background-size: 236px 192px

.icon-minus
	@include mixin-icon-minus
	

@mixin mixin-icon-minus2
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -74px -95px
	background-size: 236px 192px

.icon-minus2
	@include mixin-icon-minus2
	

@mixin mixin-icon-money
	width: 28px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -37px -132px
	background-size: 236px 192px

.icon-money
	@include mixin-icon-money
	

@mixin mixin-icon-people
	width: 32px
	height: 28px
	background-image: url(../img/sprite-2x.png)
	background-position: -70px -132px
	background-size: 236px 192px

.icon-people
	@include mixin-icon-people
	

@mixin mixin-icon-pict
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -146px 0px
	background-size: 236px 192px

.icon-pict
	@include mixin-icon-pict
	

@mixin mixin-icon-plus
	width: 20px
	height: 20px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -80px
	background-size: 236px 192px

.icon-plus
	@include mixin-icon-plus
	

@mixin mixin-icon-plus2
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -146px -37px
	background-size: 236px 192px

.icon-plus2
	@include mixin-icon-plus2
	

@mixin mixin-icon-pointer
	width: 28px
	height: 28px
	background-image: url(../img/sprite-2x.png)
	background-position: -107px -132px
	background-size: 236px 192px

.icon-pointer
	@include mixin-icon-pointer
	

@mixin mixin-icon-pointer2
	width: 16px
	height: 9px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -154px
	background-size: 236px 192px

.icon-pointer2
	@include mixin-icon-pointer2
	

@mixin mixin-icon-q
	width: 23px
	height: 23px
	background-image: url(../img/sprite-2x.png)
	background-position: 0px -169px
	background-size: 236px 192px

.icon-q
	@include mixin-icon-q
	

@mixin mixin-icon-right
	width: 27px
	height: 27px
	background-image: url(../img/sprite-2x.png)
	background-position: -183px 0px
	background-size: 236px 192px

.icon-right
	@include mixin-icon-right
	

@mixin mixin-icon-right2
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: -146px -74px
	background-size: 236px 192px

.icon-right2
	@include mixin-icon-right2
	

@mixin mixin-icon-right3
	width: 19px
	height: 22px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -28px
	background-size: 236px 192px

.icon-right3
	@include mixin-icon-right3
	

@mixin mixin-icon-right4
	width: 17px
	height: 23px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -105px
	background-size: 236px 192px

.icon-right4
	@include mixin-icon-right4
	

@mixin mixin-icon-right5
	width: 9px
	height: 16px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -168px
	background-size: 236px 192px

.icon-right5
	@include mixin-icon-right5
	

@mixin mixin-icon-right6
	width: 16px
	height: 16px
	background-image: url(../img/sprite-2x.png)
	background-position: -215px -133px
	background-size: 236px 192px

.icon-right6
	@include mixin-icon-right6
	

@mixin mixin-icon-scales
	width: 32px
	height: 32px
	background-image: url(../img/sprite-2x.png)
	background-position: 0px -132px
	background-size: 236px 192px

.icon-scales
	@include mixin-icon-scales
	

@mixin mixin-icon-search
	width: 25px
	height: 24px
	background-image: url(../img/sprite-2x.png)
	background-position: -183px -61px
	background-size: 236px 192px

.icon-search
	@include mixin-icon-search
	
