@mixin mixin-i
	display: inline-block
	vertical-align: middle
	background-image: url(../img/sprite.svg)
	background-repeat: no-repeat

.i
	@include mixin-i




@mixin mixin-i-arrow1 
	width: 27px
	height: 8px
	background-position: 0px 0px
	
.i.i-arrow1 
	@include mixin-i-arrow1



@mixin mixin-i-arrow10 
	width: 17px
	height: 8px
	background-position: -27px -8px
	
.i.i-arrow10 
	@include mixin-i-arrow10



@mixin mixin-i-arrow2 
	width: 11px
	height: 8px
	background-position: -44px -16px
	
.i.i-arrow2 
	@include mixin-i-arrow2



@mixin mixin-i-arrow3 
	width: 11px
	height: 8px
	background-position: -55px -24px
	
.i.i-arrow3 
	@include mixin-i-arrow3



@mixin mixin-i-arrow4 
	width: 14px
	height: 8px
	background-position: -66px -32px
	
.i.i-arrow4 
	@include mixin-i-arrow4



@mixin mixin-i-arrow5 
	width: 14px
	height: 8px
	background-position: -80px -40px
	
.i.i-arrow5 
	@include mixin-i-arrow5



@mixin mixin-i-arrow6 
	width: 11px
	height: 8px
	background-position: -94px -48px
	
.i.i-arrow6 
	@include mixin-i-arrow6



@mixin mixin-i-arrow7 
	width: 11px
	height: 8px
	background-position: -105px -56px
	
.i.i-arrow7 
	@include mixin-i-arrow7



@mixin mixin-i-arrow8 
	width: 27px
	height: 8px
	background-position: -116px -64px
	
.i.i-arrow8 
	@include mixin-i-arrow8



@mixin mixin-i-arrow9 
	width: 15px
	height: 8px
	background-position: -143px -72px
	
.i.i-arrow9 
	@include mixin-i-arrow9



@mixin mixin-i-chart 
	width: 39px
	height: 39px
	background-position: -158px -80px
	
.i.i-chart 
	@include mixin-i-chart



@mixin mixin-i-check 
	width: 120px
	height: 120px
	background-position: -197px -119px
	
.i.i-check 
	@include mixin-i-check



@mixin mixin-i-clock 
	width: 16px
	height: 16px
	background-position: -317px -239px
	
.i.i-clock 
	@include mixin-i-clock



@mixin mixin-i-close 
	width: 11px
	height: 11px
	background-position: -333px -255px
	
.i.i-close 
	@include mixin-i-close



@mixin mixin-i-close2 
	width: 11px
	height: 11px
	background-position: -344px -266px
	
.i.i-close2 
	@include mixin-i-close2



@mixin mixin-i-corner 
	width: 52px
	height: 26px
	background-position: -355px -277px
	
.i.i-corner 
	@include mixin-i-corner



@mixin mixin-i-doc 
	width: 113px
	height: 113px
	background-position: -407px -303px
	
.i.i-doc 
	@include mixin-i-doc



@mixin mixin-i-download 
	width: 10px
	height: 16px
	background-position: -520px -416px
	
.i.i-download 
	@include mixin-i-download



@mixin mixin-i-download2 
	width: 10px
	height: 16px
	background-position: -530px -432px
	
.i.i-download2 
	@include mixin-i-download2



@mixin mixin-i-flower 
	width: 104px
	height: 112px
	background-position: -540px -448px
	
.i.i-flower 
	@include mixin-i-flower



@mixin mixin-i-flower2 
	width: 40px
	height: 42px
	background-position: -644px -560px
	
.i.i-flower2 
	@include mixin-i-flower2



@mixin mixin-i-leaf 
	width: 101px
	height: 42px
	background-position: -684px -602px
	
.i.i-leaf 
	@include mixin-i-leaf



@mixin mixin-i-leaf2 
	width: 13px
	height: 11px
	background-position: -785px -644px
	
.i.i-leaf2 
	@include mixin-i-leaf2



@mixin mixin-i-leaf3 
	width: 30px
	height: 25px
	background-position: -798px -655px
	
.i.i-leaf3 
	@include mixin-i-leaf3



@mixin mixin-i-lines 
	width: 19px
	height: 9px
	background-position: -828px -680px
	
.i.i-lines 
	@include mixin-i-lines



@mixin mixin-i-lines2 
	width: 19px
	height: 9px
	background-position: -847px -689px
	
.i.i-lines2 
	@include mixin-i-lines2



@mixin mixin-i-lock 
	width: 18px
	height: 24px
	background-position: -866px -698px
	
.i.i-lock 
	@include mixin-i-lock



@mixin mixin-i-lock2 
	width: 18px
	height: 24px
	background-position: -884px -722px
	
.i.i-lock2 
	@include mixin-i-lock2



@mixin mixin-i-mail 
	width: 114px
	height: 98px
	background-position: -902px -746px
	
.i.i-mail 
	@include mixin-i-mail



@mixin mixin-i-mail2 
	width: 17px
	height: 11px
	background-position: -1016px -844px
	
.i.i-mail2 
	@include mixin-i-mail2



@mixin mixin-i-mail3 
	width: 25px
	height: 16px
	background-position: -1033px -855px
	
.i.i-mail3 
	@include mixin-i-mail3



@mixin mixin-i-micro 
	width: 34px
	height: 42px
	background-position: -1058px -871px
	
.i.i-micro 
	@include mixin-i-micro



@mixin mixin-i-pdf 
	width: 25px
	height: 23px
	background-position: -1092px -913px
	
.i.i-pdf 
	@include mixin-i-pdf



@mixin mixin-i-phone 
	width: 17px
	height: 18px
	background-position: -1117px -936px
	
.i.i-phone 
	@include mixin-i-phone



@mixin mixin-i-phone2 
	width: 120px
	height: 120px
	background-position: -1134px -954px
	
.i.i-phone2 
	@include mixin-i-phone2



@mixin mixin-i-phone3 
	width: 16px
	height: 16px
	background-position: -1254px -1074px
	
.i.i-phone3 
	@include mixin-i-phone3



@mixin mixin-i-pointer 
	width: 14px
	height: 14px
	background-position: -1270px -1090px
	
.i.i-pointer 
	@include mixin-i-pointer



@mixin mixin-i-pointer2 
	width: 17px
	height: 17px
	background-position: -1284px -1104px
	
.i.i-pointer2 
	@include mixin-i-pointer2



@mixin mixin-i-pointer3 
	width: 14px
	height: 14px
	background-position: -1301px -1121px
	
.i.i-pointer3 
	@include mixin-i-pointer3



@mixin mixin-i-quotes 
	width: 88px
	height: 60px
	background-position: -1315px -1135px
	
.i.i-quotes 
	@include mixin-i-quotes



@mixin mixin-i-shield 
	width: 39px
	height: 39px
	background-position: -1403px -1195px
	
.i.i-shield 
	@include mixin-i-shield



@mixin mixin-i-spica 
	width: 40px
	height: 56px
	background-position: -1442px -1234px
	
.i.i-spica 
	@include mixin-i-spica



@mixin mixin-i-sunflower 
	width: 41px
	height: 57px
	background-position: -1482px -1290px
	
.i.i-sunflower 
	@include mixin-i-sunflower



@mixin mixin-i-temp 
	width: 68px
	height: 96px
	background-position: -1523px -1347px
	
.i.i-temp 
	@include mixin-i-temp



@mixin mixin-i-test_tubes 
	width: 40px
	height: 39px
	background-position: -1591px -1443px
	
.i.i-test_tubes 
	@include mixin-i-test_tubes



@mixin mixin-i-trash 
	width: 40px
	height: 56px
	background-position: -1631px -1482px
	
.i.i-trash 
	@include mixin-i-trash


