$screen-xxs-min: 50px
$screen-xxs-max: 479px
$screen-xs-min: 320px
$screen-xs-middle: 480px
$screen-xs-max: 767px
$screen-sm-min: 768px
$screen-sm-max: 1099px
$screen-md-min: 1100px
$screen-md-max: 1263px
$screen-lg-min: 1264px

/* var */
$c-default: #232430
$c-link: #2A70B7
$c-link-green: #1C952E
$c-orange: #f98700
$c-black: #010101

$font-default: 'Roboto'
$font-title: 'Mont'
$font-size: 15px

$line-height: 1.5

$width-wrapper: 1264px
$wrapper-padding: 30px
$wrapper-padding-mobile: 15px
$bg: #fafafa
$border-grey: #cdc5c9

$error: #E32855