@import 'vars'

@import 'sprite-svg'
@import 'fonts'
@import 'normalize'
@import 'mixins' 
@import 'flexgrid'
@import 'typography'
@import 'defaults'
@import 'form-elements'
@import 'plugin.slick'

// plugins


/* ********** WRAPPER ********** */

#wrapper 
	flex: 1 1 auto
	overflow: hidden


.inner-wrapper 
	max-width: calc(#{$width-wrapper} + (#{$wrapper-padding} * 2))
	margin: 0 auto
	padding: 0 $wrapper-padding


/* ********** ********** */
	

	
	
	
	
	


/* ********** HEADER ********** */

#header 
	background: #fff
		



/* ********** ********** */







/* ********** MAIN ********** */

#main 
	padding: 28px 0 52px
	
.main__content
	+mtb
	
	& > .inner-wrapper
		+mtb
		
.main__wrapper
	margin-top: 30px
	

/* ****** breadcrumbs ****** */
.breadcrumbs 
	display: flex
	align-items: center
	font-size: 10px
	font-weight: bold
	text-transform: uppercase
	
	.item
		
		& + .item
			padding-left: 20px
			margin-left: 8px
			position: relative
			
			&:before
				content: ""
				position: absolute
				top: calc(50% - 6px)
				left: 0
				@include mixin-i
				@include mixin-i-leaf2
	
	a
		color: #494B4E
		text-decoration: none
		
		&:hover
			text-decoration: underline
			
	span
		color: #8EB847
		

	

/* ****** content-title ****** */
.content-title 
	margin: 41px 0 15px
	
	h1
		font-size: 38px
	
	
	
	
	
/* ****** content-text ****** */
.content-text 
	margin: 25px 0
	+mtb

	
	


	


/* ********** ********** */



/* ****** sect-main ****** */
.sect-main 
	
	&__carousel
		.item
			&__wrap
				position: relative
				
			&__link
				position: absolute
				top: 0
				right: 0
				bottom: 0
				left: 0
				





/* ****** sect-prod ****** */
.sect-prod 
	background: #FAFAFA
	
	&__text
	
		.text
			font-weight: 300
			color: #55565E





/* ****** sect-why ****** */
.sect-why 
	
	&__list
		.item
			background: #fff
			box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06)
			border-radius: 7px
		
			&__title
				font-family: $font-title, sans-serif
				
			&__text
				font-weight: 300
				color: #5D5D65



/* ****** sect-news ****** */
.sect-news 
	
	&__carousel
		.item
			&__img
				height: 0
				padding-bottom: 54%
				position: relative
				
				a
					position: absolute
					top: 0
					right: 0
					bottom: 0
					left: 0
					
					img
						width: 100%
						height: 100%
						object-fit: cover
						
			&__title
				font-family: $font-title, sans-serif
				
			&__text
				color: #616267
				
			&__bottom
				
				.link-detail
					font-weight: 500
					color: #71AB36
					text-decoration: none
					
					.t
						text-decoration: underline
						
					&:hover
						.t
							text-decoration: none
						



/* ****** sect-feedback ****** */
.sect-feedback 
	background: #FAFAFA
	
	&__slider
		.item__wrap
			position: relative





/* ****** page-404 ****** */
.page-404 
	

	&__menu
		display: flex
		
		.col
			min-width: 50%
			width: 50%
			padding-right: 5%
			+mtb
			
			&__title
				font-family: $font-title, sans-serif
				font-size: 13px
				font-weight: bold
				text-transform: uppercase
				
			&__item
				margin: 11px 0
				font-size: 13px
				
				a
					color: #45464F
					text-decoration: none
					
					&:hover
						color: $c-link
						text-decoration: underline
				
				
				

/* ****** feedback ****** */
.feedback 
	margin-top: 25px
	
	&__notice
		margin-top: 23px
		line-height: 1.75
	
	
	&__list
		margin-top: 69px
		+mtb
	
		.item
			
			&__wrap
				margin: 71px 0 24px 32px
				padding: 26px 29px 30px 88px
				background: #fff
				box-shadow: 0 0 24px rgba(0,0,0,0.06)
				border-radius: 7px
				position: relative
				
			&__ava
				position: absolute
				top: -25px
				left: -32px
				width: 102px
				height: 102px
				
				img
					width: 100%
					height: 100%
					object-fit: cover
					border-radius: 50%
					
				&:before
					content: ""
					position: absolute
					top: -11px
					right: -107px
					@include mixin-i
					@include mixin-i-quotes
					
			&__top
				display: flex
				justify-content: space-between
				
				&-l
					max-width: 475px
					flex: 1 1 0
					padding-top: 3px
					
			&__link
				flex: 0 1 auto
				margin-left: 7%
				
			&__name
				font-size: 18px
				line-height: 1.55
			
			&__text
				margin-top: 12px
				font-size: 15px
				font-weight: 300
				color: #3D3D45
				line-height: 1.7




/* ****** pagination ****** */
.pagination 
	margin: 57px 0 33px
	display: flex
	justify-content: center
	
	.item
		width: 45px
		height: 45px
		display: inline-flex
		align-items: center
		justify-content: center
		margin: 5px
		padding: 2px 3px 1px
		background: #fff
		border: 1px solid #E0E5E7
		box-shadow: 0px 4px 41px #EBEBEB
		border-radius: 4px
		font-size: 14px
		font-weight: 500
		color: #30333D
		
		&:not(.item--dots)
			text-decoration: none
			transition: all 0.2s ease
		
			
			&.active, &:hover
				background: #81AE53
				color: #fff
				border-color: #81AE53
		
		&--last
			width: auto
			padding-left: 16px
			padding-right: 16px
	
			.i + .t
				margin-left: 23px
				
			.t + .i
				margin-left: 23px
				
			&:hover
				.i
					filter: brightness(2)
					
					
					
/* ****** news-detail ****** */
.news-detail 
	
	&__img
		margin-bottom: 15px
		
		img
			min-width: 100%
			
	&__desc
		margin: 17px 0 10px
		
		.date
			padding-left: 42px
			position: relative
			font-size: 13px
			font-weight: 300
			
			&:before
				content: ""
				position: absolute
				top: calc(50% - 16px)
				left: 0px
				width: 32px
				height: 32px
				background: #EFEFEF
				border-radius: 50%
				
			&:after
				content: ""
				position: absolute
				top: calc(50% - 8px)
				left: 8px
				@include mixin-i
				@include mixin-i-clock
				
	&__imgs
		margin: 12px 0 15px
		
		
		
.nav-back
	margin-top: 28px
			

					
					
		
/* ****** aside-news ****** */
.aside-news
	
	.title
		margin-bottom: 23px
		font-size: 16px
		font-weight: bold
		text-transform: uppercase
	
	.item
		
		& + .item
			margin-top: 20px
			
		&__img
			position: relative
			
			a
				display: block
				
				img
					width: 100%
					
		&__title
			margin-top: 9px
			font-family: $font-title, sans-serif
			font-size: 15px
			font-weight: bold
			
		&__text
			margin-top: 6px
			font-size: 14px
			color: #616267
			
		&__bottom
			margin-top: 5px
			
			.link-detail
				font-weight: 500
				color: #71AB36
				text-decoration: none
				
				.t
					text-decoration: underline
					
				&:hover
					.t
						text-decoration: none







.slider-btn-prev, .slider-btn-next
	width: 48px
	height: 48px
	background: #fff
	border: 1px solid #C9CAD1
	border-radius: 50%
	display: inline-flex
	align-items: center
	justify-content: center
	transition: all 0.2s ease
	cursor: pointer
	
	&:hover
		background: #2A70B7
		border-color: #2A70B7
		
	&:before
		content: ""
		@include mixin-i
		@include mixin-i-arrow2
		
	&:hover
		&:before
			@include mixin-i-arrow3

.slider-btn-next
	&:before
		transform: rotate(180deg)
		
		
		
		

.carousel-news:not(.slick-slider), .slider-feedback:not(.slick-slider), .carousel-prod:not(.slick-slider), .slider-main:not(.slick-slider), .carousel-main:not(.slick-slider)
	display: flex

		
.title-leaf
	font-family: $font-title, sans-serif
	font-weight: bold
	line-height: 1.4
	
		
	.title
		display: inline-flex
		position: relative
			
		&:before
			content: ""
			position: absolute
			@include mixin-i
			@include mixin-i-leaf
			
			
			
			

		
	






/* ********** FOOTER ********** */

#footer 
	background: #fff
	
.privacy-policy
	
	a
		color: #838383
	
.f-nav
	&__top
		font-family: $font-title
		font-weight: bold
		font-size: 13px
		text-transform: uppercase
		
	&__wrap
		
		a
			color: $c-default
			text-decoration: none
			
			&:hover
				color: $c-link
				text-decoration: underline
				
.f-contacts
	
	&__top
		font-family: $font-title
		font-weight: bold
		font-size: 13px
		text-transform: uppercase
	
	&__item
		position: relative
		
		.icon
			position: absolute
			left: 0
		
		a
			color: $c-link-green
			
		&.--phone
		
			a
				color: $c-default
				text-decoration: none
				
				&:hover
					color: $c-link
					

/* ********** ********** */
	
	
	
		
	

@import 'media_queries_mobile'
@import 'media_queries_tablet_desktop'
@import 'media_queries_tablet'
@import 'media_queries_desktop'
